// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~toastr/toastr";
@import "~bootstrap4-toggle/css/bootstrap4-toggle.css";

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

/*
=================================
Custom Burger button for sideMenu
*/
.burger {
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  padding: 7px;
}

.burger span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #555;
  transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

.sidebar-toggle span:first-of-type {
  /* rotate first one */
  transform: rotate(45deg) translate(2px, 2px);
}

.sidebar-toggle span:nth-of-type(2) {
  /* second one is not visible */
  opacity: 0;
}

.sidebar-toggle span:last-of-type {
  /* rotate third one */
  transform: rotate(-45deg) translate(1px, -1px);
}

.sidebar-toggle.active span {
  /* no rotation */
  transform: none;
  /* all bars are visible */
  opacity: 1;
  margin: 5px auto;
}

.wrapper {
  display: flex;
  align-items: stretch;
  perspective: 1500px;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
}

#sidebar.active {
  margin-left: -250px;
  transform: rotateY(100deg); /* Rotate sidebar vertically by 100 degrees. */
}

.sidebar-header {
  height: 56px;
}

#content {
  width: 100vw;
}

#content #app {
  height: 100vh;
}

#content main {
  height: calc(100% - 56px);
  overflow-y: scroll;
}

.card-img-top {
  min-height: 200px;
}

a[data-toggle="collapse"] {
  position: relative;
}

/* MAX WIDTH 768 px */
@media (max-width: 768px) {
  /* Reversing the behavior of the sidebar:
     it'll be rotated vertically and off canvas by default,
     collapsing in on toggle button click with removal of
     the vertical rotation.   */
  #sidebar {
    margin-left: -250px;
    transform: rotateY(100deg);
  }

  #sidebar.active {
    margin-left: 0;
    transform: none;
  }

  /* Reversing the behavior of the bars:
     Removing the rotation from the first,
     last bars and reappear the second bar on default state,
     and giving them a vertical margin */
  .burger span:first-of-type,
  .burger span:nth-of-type(2),
  .burger span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto;
  }

  /* Removing the vertical margin and make the first and last bars rotate again when the sidebar is open, hiding the second bar */
  .sidebar-toggle.active span {
    margin: 0 auto;
  }

  .sidebar-toggle.active span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
  }

  .sidebar-toggle.active span:nth-of-type(2) {
    opacity: 0;
  }

  .sidebar-toggle.active span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
  }
}
/* MAX WIDTH 520 px */
@media screen and (max-width: 520px) {

  li.page-item {

    display: none;
  }

  .page-item:first-child,
  .page-item:nth-child(-n+5),
  .page-item:nth-last-child(5),
  .page-item:last-child,
  .page-item.active {

    display: block;
  }
}

.table-image {
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
}

// SELECT 2

.select2-selection {
  border-radius: 0 !important;
  border: 1px solid #ced4da;
}

.inactive-card {
  /* create a custom class so you
     do not run into specificity issues
     against bootstraps styles
     which tends to work better than using !important
     (future you will thank you later)*/

  background-color: rgba(245, 245, 245, 1);
  opacity: .4;
}